# General
.DS_Store
.AppleDouble
.LSOverride
.vscode
.env
.coverage
.pytest_cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.venv

.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?